<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body class="m-0" style="background-color: white;">
    <div class=''>
        <nav class="d-flex flex-row justify-content-start align-middle navbar navbar-light bg-light mb-2">
            <span class="navbar-brand">Inventory</span>
            <form method="get" class="" action="/addVehicle"><button class="btn-sm btn-dark " type="submit">Add an item</button>
            </form>
        </nav>
    </div>

    <table class="table table-hover table-striped table-bordered ml-2 mx-auto" style="width: 98vw;">
        
        <th>Delete</th><th>Vehicle Id #</th><th>Description</th><th>Type</th><th>Year</th>
        <th>Mileage</th><th>In Use?</th><th>Edit</th>
        
        <% for(let i=0;i<theMenu.length;i++) { %>
            <tr>
                <td class='align-middle'>
                    <img src="deleteSmall.png" style="width: 40px;height: 40px;" onclick='delVehicle("<%=theMenu[i].vehicle_id%>")'> 
                     
                 </td>

                <td class='align-middle'>
                    <%= theMenu[i].vehicle_id %>
                </td>
                <td class='align-middle'>
                    <%= theMenu[i].vDescription %>
                </td>
                <td class='align-middle'>
                    <%= theMenu[i].vType %>
                </td>
                <td class='align-middle'>
                    <%= theMenu[i].vYear %>
                </td>
                <td class='align-middle'>
                    <%= theMenu[i].vMileage %>
                </td>
                <td class='align-middle'>
                    <%= theMenu[i].vStillUsing %>
                </td>
            
                <td class='align-middle'>
                    <a href="#">  <img src="editIconSmall.png" style="width: 40px;height: 40px;" onclick='edtVehicle("<%=theMenu[i].vehicle_id%>")'></a>
                  </td>
                  
                <% } %>
    </table>

    <script>
        function edtVehicle(vehicle_id){
            window.location.assign("/updateItem/"+ vehicle_id);
        }
        function delVehicle(vehicle_id){
            var ok = confirm("Are you sure?");
            if (ok == true) {
                window.location.assign("/deleteItem/"+ vehicle_id);
            }
        }
    </script>
  
    
</body>
</html>